*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.idea/
.project
.classpath
.project.properties
gen/
.idea/
.gradle/
local.properties
gradle/
build/
gradlew*